@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}

#header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 20px 40px;
    background: #f7f7f7;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    z-index: 999;
    top: 0;
    left: 0;

}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: rgb(39, 39, 39);
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: rgb(25, 148, 120);

}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(25, 148, 120);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
}

#close {
    display: none;
}

#hero {
    background-image: url(images/hero.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
    font-size: 30px;
}

#hero h1 {
    color: rgb(209, 84, 149);
    font-size: 50px;
}

#hero button {
    background: rgb(244, 199, 221);
    border: 1px solid black;
    padding: 7px;
    border-radius: 4px;
}

.heading-of-our-feature {
    margin-top: 30px;
    text-align: center;
}

#features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

#features .card {
    width: 180px;
    text-align: center;
    padding: 15px 10px;
    box-shadow: 5px 5px 10px rgb(211, 211, 211);
    border: 1px solid rgb(148, 148, 148);
    border-radius: 6px;
    margin: 15px 0;
}

#features .card:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.03);
}

#features .card img {
    width: 100%;
    margin-bottom: 10px;
}

#features .card h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
}

#features .card p {
    display: flex;
    color: black;
}

#product1 {
    text-align: center;
    margin-top: 30px;
}

#product1 .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#product1 .product {
    padding: 10px 10px;
    border: 1px solid rgb(174, 173, 173);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 8px rgb(232, 232, 232);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    transition: 0.2s ease;
}

#product1 .product:hover {
    box-shadow: 3px 3px 8px rgb(194, 194, 194);
}

#product1 .product img {
    width: 100%;
    border-radius: 10px;
}

#product1 .product .card-body {
    text-align: start;
}

#product1 .product span {
    color: rgb(22, 22, 22);
    font-size: 15px;
    padding-top: 5px;
}

#product1 .product h4 {
    font-size: 18px;
    padding-top: 10px;
}

#product1 .product p {
    padding-top: 6px;
    font-size: 14px;
}

#product1 .product .fa-star {
    color: rgb(245, 245, 22);
}

#product1 .product .fa-shopping-cart {
    color: rgb(56, 55, 55);
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    background-image: url(images/banner/b2.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;

}

#banner h4 {
    color: #f7f7f7;
}

#banner h2 {
    color: #f7f7f7;
    margin-top: 5px;
}

#banner span {
    color: rgb(234, 42, 42);
}

#banner button {
    margin-top: 5px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
}

#banner button:hover {
    background-color: #ffffff;
}

#new-arrivals {
    text-align: center;
    margin-top: 30px;
}

#new-arrivals .summer-collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#new-arrivals .collection-container {
    padding: 10px 10px;
    border: 1px solid rgb(174, 173, 173);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 8px rgb(232, 232, 232);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    transition: 0.2s ease;
}

#new-arrivals .collection-container:hover {
    box-shadow: 3px 3px 8px rgb(194, 194, 194);
}

#new-arrivals .collection-container img {
    width: 100%;
    border-radius: 10px;
}

#new-arrivals .collection-container .card-body {
    text-align: start;
}

#new-arrivals .collection-container span {
    color: rgb(22, 22, 22);
    font-size: 15px;
    padding-top: 5px;
}

#new-arrivals .collection-container h4 {
    font-size: 18px;
    padding-top: 10px;
}

#new-arrivals .collection-container p {
    padding-top: 6px;
    font-size: 14px;
}

#new-arrivals .collection-container .fa-star {
    color: rgb(245, 245, 22);
}

#new-arrivals .collection-container .fa-shopping-cart {
    color: rgb(56, 55, 55);
}

#sm-banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

#sm-banner .banner-box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    padding: 80px;
    background-image: url(images/banner/b17.jpg);
    border: none;
    border-radius: 5px;
    width: 580px;
    height: 50hv;
    background-size: cover;
    background-position: center;
    margin-left: 30px;

}

#sm-banner .banner-box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    padding: 80px;
    border: none;
    border-radius: 5px;
    background-image: url(images/banner/b10.jpg);
    width: 580px;
    height: 50hv;
    background-size: cover;
    background-position: center;
    margin-right: 30px;
}

#sm-banner .banner-box2 h2 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
}

#sm-banner .banner-box2 h4 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    padding-top: 10px;
}

#sm-banner .banner-box2 span {
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
}

#sm-banner .banner-box2 button {
    margin-top: 20px;
    padding: 10px;
    color: #ffffff;
    border: 1px solid white;
    border-radius: 4px;
    background: transparent;
}

#sm-banner .banner-box2 button:hover {
    background: #fff;
    color: rgb(104, 103, 103);
    border: 1px solid black;
}

#sm-banner .banner-box1 h2 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
}

#sm-banner .banner-box1 h4 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    padding-top: 10px;
}

#sm-banner .banner-box1 span {
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
}

#sm-banner .banner-box1 button {
    margin-top: 20px;
    padding: 10px;
    color: #ffffff;
    border: 1px solid white;
    border-radius: 4px;
    background: transparent;
}

#sm-banner .banner-box1 button:hover {
    background: #fff;
    color: rgb(83, 82, 82);
    border: 1px solid black;
}

#banner-3 .banner-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 60px;
}

#banner-3 h2 {
    color: #fff;
    font-size: 24px;
}

#banner-3 h3 {
    color: rgb(240, 46, 46);
    font-size: 18px;
}

#banner-3 .banner-box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(images/banner/b7.jpg);
    min-width: 32%;
    height: 40vh;
    background-size: cover;
    border: none;
    border-radius: 4px;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner-3 .banner-box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(images/banner/b4.jpg);
    min-width: 32%;
    height: 40vh;
    background-size: cover;
    border: none;
    border-radius: 4px;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner-3 .banner-box3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(images/banner/b18.jpg);
    min-width: 32%;
    height: 40vh;
    background-size: cover;
    border: none;
    border-radius: 4px;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(images/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #1f2745;
    height: 30vh;
}

#newsletter .newstext {
    color: #ffffff;
    font-weight: 500;
    padding-left: 40px;

}

#newsletter p span {
    color: #e9c243;
}

#newsletter .form {
    padding-right: 40px;
}

#newsletter input {
    padding: 8px;
}

#newsletter button {
    border: 1px solid rgb(255, 255, 255);
    background: transparent;
    color: #fff;
    border-radius: 4px;
    padding: 9px;
}

#newsletter button:hover {
    border: 1px solid rgb(46, 46, 46);
    background: white;
    color: rgb(67, 66, 66);
}

#section-p1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

#section-p1 .col1 {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
    font-size: 14px;
}

#section-p1 h3 {
    font-size: 20px;
}

#section-p1 .col2 {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
    font-size: 14px;
}

#section-p1 .col3 {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
    font-size: 14px;
}

#section-p1 .col4 {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
    font-size: 14px;
}

#section-p1 .col4 img {
    width: 200px
}

#section-p1 a {
    color: #333334;
    text-decoration: none;
    padding-top: 5px;
}

.copyright {
    margin-top: 10px;
    text-align: center;
    color: #737373;
    font-size: 12px;
}

/*------------shop products-------------*/
#page-header {
    width: 100%;
    height: 40vh;
    background-image: url(images/banner/b1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

#page-header .s1_heading {
    color: #ffffff;
    padding: 50px;
    font-size: 40px;
}

#page-header .s1_heading1 {
    font-size: 20px;
    color: #ffffff;
}


#pagination {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#pagination a {
    text-decoration: none;
    background-color: #32cb9b;
    padding: 10px 15px;
    border-radius: 5px;
    color: #ffffff;
}

/*--------------------responsive-on-tablets-----------------------*/
@media (max-width:799px) {
    .section-p1 {
        padding: 40px 40px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #eaeaea;
        box-shadow: 0 10px 20px rgb(211, 211, 211);
        padding: 80px 0 0 10px;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 20px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #333334;
        font-size: 20px;
        padding-left: 20px;
    }

    #close {
        display: initial;
        text-decoration: none;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #333334;
        font-size: 20px;
    }

    #lg-bag {
        display: none;
    }

    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    #features {
        justify-content: center;

    }

    #features .card {
        margin: 15px 15px;
    }

    #product1 .product-container {
        margin-right: 40px;
        justify-content: center;
    }

    #banner {
        height: 20vh;
    }

    #new-arrivals .summer-collection {
        justify-content: center;
        margin-right: 40px;
    }

    #sm-banner .banner-box1 {
        min-width: 90%;
        height: 30vh;
        padding: 20px;
        margin-bottom: 20px;

    }

    #sm-banner .banner-box2 {
        min-width: 90%;
        height: 30vh;
        padding: 20px;
        margin-left: 29px;
    }

    #banner-3 {
        padding: 30 50px;
        margin-bottom: 20px;
    }

    #banner-3 .banner-box1 {
        width: 50px;
        height: 30vh;

    }

    #banner-3 .banner-box2 {
        width: 50px;
        height: 30vh;
    }

    #banner-3 .banner-box3 {
        width: 50px;
        height: 30vh;
    }

    #newsletter {
        height: 20vh;
        padding-bottom: 10px;
    }

    #newsletter .form {

        margin-left: 40px;
    }

    #section-p1 {
        height: 90vh;
    }

    #section-p1 .col1 {
        font-size: 13px;
        margin-left: 20px;
    }

    #section-p1 .col2 {
        font-size: 13px;
    }

    #section-p1 .col3 {
        font-size: 13px;
        margin-right: 20px;
    }

    #section-p1 .col4 {
        font-size: 13px;
        margin-top: -340px;
        margin-left: 20px;
    }

}

#prodetails {
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 50px;
}

#prodetails .single-pro-image {
    width: 40%;
    margin-right: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    margin-top: 6px;
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details {
    width: 50%;
    padding: 10px;

}

#prodetails .single-pro-details h4 {
    padding-top: 15px;
    font-size: 20px;
}

#prodetails .single-pro-details h2 {
    padding: 10px;
}

#prodetails .single-pro-details select {
    font-size: 13px;
    padding: 6px;
}

#prodetails .single-pro-details input {
    width: 50px;
    padding: 4px;
    font-size: 13px;
    margin-left: 5px;
}

#prodetails .single-pro-details button {
    padding: 7px;
    font-size: 10px;
    border: 1px solid rgb(70, 70, 70);
    border-radius: 3px;
    margin-left: 5px;
    margin-bottom: 15px;
    text-align: center;
    justify-content: center;

}

#prodetails .single-pro-details button:hover {
    color: white;
    background: #32cb9b;

}

#prodetails .single-pro-details span {
    font-size: 14px;
}


#refrence-products {
    text-align: center;
    margin-top: 30px;
}

#refrence-products .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}

#refrence-products .product {
    padding: 10px 10px;
    border: 1px solid rgb(174, 173, 173);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 8px rgb(232, 232, 232);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    transition: 0.2s ease;
}

#refrence-products .product:hover {
    box-shadow: 3px 3px 8px rgb(194, 194, 194);
}

#refrence-products .product img {
    width: 100%;
    border-radius: 10px;
}

#refrence-products .product .card-body {
    text-align: start;
}

#refrence-products .product span {
    color: rgb(22, 22, 22);
    font-size: 15px;
    padding-top: 5px;
}

#refrence-products .product h4 {
    font-size: 18px;
    padding-top: 10px;
}

#refrence-products .product p {
    padding-top: 6px;
    font-size: 14px;
}

#refrence-products .product .fa-star {
    color: rgb(245, 245, 22);
}

#refrence-products .product .fa-shopping-cart {
    color: rgb(56, 55, 55);
}

#page_header {
    background-image: url(images/banner/b19.jpg);
    width: 100%;
    height: 40vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

#page_header .s1_heading {
    color: #ffffff;
    padding-top: 60px;
    font-size: 40px;
}

#page_header {
    font-size: 20px;
    color: #ffffff;
}

#blog {
    padding: 100px 100px 0 100px;
}

#blog .blogbox {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    margin-bottom: 100px;
}

#blog .blogimg {
    width: 50%;
    margin-right: 40px;
}

#blog img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details {
    width: 50%;
}

#blog .blog-details a {
    text-decoration: underline 2px;
    color: #333334;

}

#blog .blog-details a:hover {
    text-decoration: underline;
    font-size: 17px;
}

#blog .blogbox h1 {
    position: absolute;
    top: -45px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #3a3a3a6f;
    z-index: -9;
}

#about-header {
    background-image: url(images/about/banner.png);
    width: 100%;
    height: 40vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

#about-header .s1_heading {
    color: #ffffff;
    padding-top: 60px;
    font-size: 40px;
    font-weight: 600;
}

#about-header .s1_heading1 {
    color: #fff;
    padding-top: 20px;
    font-size: 16px;
}

#about-contnt .about-col {
    display: flex;
    justify-content: space-between;
}

#about-contnt .about-img img {
    width: 500px;
    margin: 40px;
    box-shadow: 5px 5px 7px #a3a3a3;

}

#about-contnt .about-details {
    margin: 40px;
}

#about-contnt .about-details h1 {
    font-weight: 600;
}

#about-contnt .about-details p {
    font-size: 15px;
}

marquee {
    height: 60px;
    background-color: #f8f5f5e0;
    padding-top: 15px;
    color: #828282;
    font-weight: 500;
}

marquee span {
    color: rgb(241, 87, 87);
}
#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left:50px;
    margin-top:50px;
    margin-bottom: 100px;
}
#contact-details .details{
    width: 40%;
}
#contact-details .details span{
    font-size: 12px;
}
#contact-details .details h2{
    font-size: 26px;
    line-height: 35px;
    padding:20px 0;
}
#contact-details .details h3{
    font-size: 16px;
    padding-bottom:15px;
}
#contact-details .details li{
    list-style: none;
    display: flex;
    padding:10px 0;
}
#contact-details .details li i{
    font-size:14px;
    padding-right: 22px;
}
#contact-details .details li p{
    margin: 0;
    font-size: 14px;
}

#contact-details .map{
  width: 55%;
    height: 400px;
}

#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-left:50px;
}

#form-details form input{
    width: 80%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;

}
#form-details form textarea{
    width: 80%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #a3a3a3;
   
}
#form-details form button{
    padding:10px;
    border: 1px solid transparent;
    border-radius:5px;
    margin-bottom: 30px;
    color: #fff;
    background: #0eb36e;
}
#form-details form button:hover{
    padding:11px;
}

#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-bottom:10px;
}
#cart table img{
    width: 80px;
}
#cart table td:nth-child(1){
    width: 100px;
    text-align:center;
    margin-bottom: 5px;
}
#cart table td:nth-child(2){
    width: 150px;
    text-align:center;
    margin-bottom: 5px;
}
#cart table td:nth-child(3){
    width: 200px;
    text-align:center;
    margin-bottom: 5px;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
    margin-bottom: 5px;
}
#cart table .fa-times-circle{
    color: #333334;
}
#cart table input{
    width: 40px;
    text-align: center;
    padding-top: 6px;
}
